body{
    background-image: url("../image/sunset.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.page1{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 10%;
}